@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="col-md-6">this is the first column</div>
<div class="col-md-6">
    <div class="btn btn-success">开始代言</div>
    <div>公司简介: 阿斯doi阿松i多家阿松地爱死多家, 阿松东i家啊 ,爱死的阿松地阿松地爱死.</div>
    <div>IPhone App 下载: 此处应该有配图 & 连接</div>
    <div>Andriod App 下载:此处应该有配图 & 连接</div>
</div>