@model MvvmApplication.Controllers.AdModel

@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="col-md-6">
    <div>此处应该有代言人头像, 基本信息</div>
    <div>此处应该有代言人头像, 基本信息</div>
    <div>brand Id: @Model.Brand.Id</div>
    <div>brand Name: @Model.Brand.Name</div>
</div>
<div class="col-md-6">
    <div class="btn btn-success">加入全民代言</div>
    <div>公司简介: 阿斯doi阿松i多家阿松地爱死多家, 阿松东i家啊 ,爱死的阿松地阿松地爱死.</div>
    <div>IPhone App 下载: 此处应该有配图 & 连接</div>
    <div>Andriod App 下载:此处应该有配图 & 连接</div>
</div>

